USE [master]
GO
/****** Object:  Database [DataDog]    Script Date: 2023-03-13 10:47:25 PM ******/
CREATE DATABASE [DataDog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataDog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataDog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataDog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataDog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataDog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataDog]
GO
/****** Object:  User [TopDog]    Script Date: 2023-03-13 10:47:25 PM ******/
CREATE USER [TopDog] FOR LOGIN [TopDog] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [TopDog]
GO
/****** Object:  Table [dbo].[GoodBoys]    Script Date: 2023-03-13 10:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodBoys](
	[DogID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[FeedTime] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerDogLinks]    Script Date: 2023-03-13 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerDogLinks](
	[OwnerID] [int] NOT NULL,
	[DogID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 2023-03-13 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[OwnerID] [int] NOT NULL,
	[Name] [nchar](15) NOT NULL,
	[Email] [nchar](25) NOT NULL,
	[Password] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
